body,
html {
    height: 100%;
}

body {
    background: #eeeeee;
    margin: 0;
}

header {
    box-shadow: 0 2px 2px black;
}

.nav-wrapper {
    height: 60px;
    display: flex;
    background: #333333;
}

.nav-wrapper .brand {
    margin-left: 50px;
}

.nav-wrapper .brand span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.nav-wrapper .brand img {
    margin-bottom: -15px;
    height: 100px;
    z-index: 10;
}

.nav-wrapper nav {
    font-family: 'Roboto';
    color: white;
    width: 500px;
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
    justify-content: space-around;
}

.nav-wrapper nav a {
    padding: 5px 2px;
    margin-bottom: -1px;
    border-bottom: 2px solid orange;
}

.hexagon {
    position: relative;
    width: 130px;
    height: 100px;
    background-color: #222222;
    box-shadow: 0 0 5px black;
    border-left: solid 2px orange;
    border-right: solid 2px orange;
    transition: height 0.3s;
    cursor: pointer;
}

.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 91.92px;
    height: 91.92px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 17.0381px;
    box-shadow: 0 0 5px black;
}


.hexagon:after {
    bottom: -45.9619px;
    border-bottom: solid 2.8284px orange;
    border-left: solid 2.8284px orange;
}

.hexagon span {
    display: block;
    position: absolute;
    left: 0;
    width: 126px;
    height: 99%;
    z-index: 2;
    background: inherit;
}

.brand:hover {
    height: 120px;
    transition: height 0.3s;
}

.social-wrapper {
    display: flex;
    font-size: 40px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
}

.social-wrapper i {
    transform: scale(0.8);
    transition: 0.3s;
}

.social-wrapper i:hover {
    transform: scale(1);
    transition: 0.3s;
}

.social-wrapper .fa-facebook:hover { color: rgb(6, 54, 143);}
.social-wrapper .fa-linkedin:hover { color: rgb(46, 128, 196);}
.social-wrapper .fa-github:hover { color: rgb(109, 14, 133);}
.social-wrapper .fa-twitter:hover { color: rgb(0, 140, 255);}
