body {
  padding: 0;
  margin: 0;
  background: #232323;
}

img#profile {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  transform: scaleX(-1);
  transition: width 1s, height 1s, box-shadow 1s;
  cursor: none;
}

#profile-holder {
  float: left;
  padding: 5px;
  background: orange;
  display: inline-block;
  border-radius: 20% 50% 50% 50%;
  box-shadow: 0px 0px 10px black;
}

#profile-holder:hover img {
  width: 256px;
  height: 256px;
  transition-duration: 2s;
  box-shadow: 0px 0px 10px black;
}

#nav {
  width: 100%;
  box-shadow: 0px 0px 10px black;
  background: #555555;
}

nav > ul {
  list-style: none;
  margin: 0;
  display: flex;
}

nav li {
  flex: 1;
  padding: 10px;
}

nav a {
  padding: 8px;
  text-decoration: none;
  color: orange;
  font-family: 'Corbel';
  border-bottom: 2px solid orange;
}

nav a:hover {
  background: orange;
  color: white;
  border-bottom: 2px solid black;
  transition-duration: 0.5s;
}
